<app-title title="Cambiar Contraseña"></app-title>
<div class="container">
    <div class="w-100 m-auto"
         style="max-width: 330px; margin-bottom: 20px;">
        <form style="margin-top: 30px;"
              [formGroup]="form">
            <div class="text-center">
                <img class="mb-4"
                     src="../../../assets/img/ies_blanco.png"
                     alt=""
                     width="120">
            </div>
            <h1 class="h3 mb-3 fw-normal">Nueva Contraseña</h1>
            <div class="form-floating">
                <input type="password"
                       class="form-control"
                       placeholder="name@example.com"
                       formControlName="password"
                       >
                <label for="floatingInput">Contraseña</label>
                <div *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)"
                     class="text-danger">
                    <div *ngIf="form.controls.password.errors?.['required']">
                        La Contraseña es obligaroria.
                    </div>
                </div>
            </div>
            <div class="form-floating mt-3">
                <input type="password"
                       class="form-control"
                       placeholder="name@example.com"
                       formControlName="confirm">
                <label for="floatingInput">Confirmación de Contraseña</label>
                <div *ngIf="form.controls.confirm.invalid && (form.controls.confirm.dirty || form.controls.confirm.touched)"
                     class="text-danger">
                    <div *ngIf="form.controls.confirm.errors?.['required']">
                        La Confirmación es obligatoria.
                    </div>
                </div>
            </div>
            <button class="w-100 btn btn-lg btn-primary mt-3"
                    [disabled]="form.invalid"
                    (click)="onClickHandler()">Cambiar Contraseña</button>
        </form>
    </div>
</div>