<img [src]="allergen.icon"
     *ngIf="allergen.icon && big"
     placement="top"
     ngbTooltip="{{allergen.details}}"
     height="35px" />
<span class="badge text-bg-secondary"
      placement="top"
      ngbTooltip="{{allergen.details}}"
      *ngIf="!allergen.icon  && big"
      style="font-size: 19px; border-radius: 50%; padding-top: 10px; padding-bottom: 10px; cursor: default;">{{allergen.name | firstLetterCap}}</span>
<img [src]="allergen.icon"
     *ngIf="allergen.icon && !big"
     placement="top"
     ngbTooltip="{{allergen.details}}"
     height="22px" />
<span class="badge text-bg-secondary"
      placement="top"
      ngbTooltip="{{allergen.details}}"
      *ngIf="!allergen.icon  && !big"
      style="font-size: 11px; border-radius: 50%; padding-top: 5px; padding-bottom: 5px; cursor: default;">{{allergen.name | firstLetterCap}}</span>
<span *ngIf="includeName"
      style="margin-left: 5px;">{{allergen.name}}</span>