<div class="row">
    <div class="col-9 col-md-8">
        <div class="row">
            <div class="col-12">
                <strong class="h5" style="margin-right: 15px;">{{product?.name}}</strong>
                <span *ngFor="let allergen of product?.allergens" style="margin-left: 5px;">
                    <app-allergen-ref [allergen]="allergen"></app-allergen-ref>
                </span>
            </div>
            <div class="col-12">
                {{product?.details}}
            </div>
        </div>
    </div>
    <div class="col-3 col-md-4 text-end"
         style="padding-top: 11px;">
        <span class="badge rounded-pill text-bg-primary fs-5">{{product?.price}} €</span>
    </div>
</div>