<ngb-toast *ngFor="let toast of toastService.toasts"
           [class]="toast.classname"
           [autohide]="true"
           [delay]="toast.delay || 5000"
           (hidden)="toastService.remove(toast)">
     <div class="row bg-opacity-75 {{toast.classname}}">
          <!--<div class="col-1">
               <img src="./assets/img/icons/info.svg"
                    *ngIf="toast.type === 'info'">
               <img src="./assets/img/icons/pass.svg"
                    *ngIf="toast.type === 'success'">
               <img src="./assets/img/icons/warning.svg"
                    *ngIf="toast.type === 'warning'">
               <img src="./assets/img/icons/lightbulb.svg"
                    *ngIf="toast.type === 'validation'">
               <img src="./assets/img/icons/error.svg"
                    *ngIf="toast.type === 'error'">
          </div>-->
          <div class="col-12 p-2">
               <strong class="me-auto"
                       style="white-space: pre-line;">{{toast.header}}</strong>
          </div>
     </div>
     <div class="row"
          *ngIf="toast.message">
          <hr>
          <div class="col-12  p-2">
               <strong class="me-auto"
                       style="white-space: pre-line;">{{toast.message}}</strong>
               <strong *ngIf="toast.link"
                       class="me-auto">.
                    <a *ngIf="!toast.link.local"
                       style="color: inherit;"
                       [href]="toast.link.url">{{toast.link.text}}</a>
                    <a *ngIf="toast.link.local"
                       style="color: inherit;"
                       routerLink="{{toast.link.url}}">{{toast.link.text}}</a>
               </strong>
          </div>
     </div>
</ngb-toast>