<div class="container">
    <div class="w-100 m-auto"
         style="max-width: 330px; margin-bottom: 20px;">
        <form style="margin-top: 30px;"
              [formGroup]="form">
            <div class="text-center">
                <img class="mb-4"
                     src="../../../assets/img/ies_blanco.png"
                     alt=""
                     width="120">
            </div>
            <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
            <div class="form-floating">
                <input type="email"
                       class="form-control"
                       placeholder="name@example.com"
                       formControlName="email">
                <label for="floatingInput">Correo Electrónico</label>
                <div *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)"
                     class="text-danger">
                    <div *ngIf="form.controls.email.errors?.['required']">
                        El Correo Electrónico es obligatorio.
                    </div>
                </div>
            </div>
            <div class="form-floating mt-3">
                <input type="password"
                       class="form-control"
                       placeholder="Password"
                       formControlName="password">
                <label for="floatingPassword">Contraseña</label>
                <div *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)"
                     class="text-danger">
                    <div *ngIf="form.controls.password.errors?.['required']">
                        La Contraseña es obligatoria
                    </div>
                </div>
            </div>

            <div class="checkbox mb-3 mt-3">
                <label>
                    <input type="checkbox"
                           value="remember-me"
                           style="margin-right: 5px;"
                           formControlName="remember">Recordarme
                </label>
            </div>
            <div class="mb-3 mt-3">
                <a class="link-accent"
                   routerLink="/recordar">He olvidado mi contraseña</a>
            </div>
            <button class="w-100 btn btn-lg btn-primary"
                    [disabled]="form.invalid"
                    (click)="onClickHandler()">Iniciar Sesión</button>
        </form>
    </div>
</div>