<div class="big-title">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <p class="display-1">¡No te quedes sin tu bocadillo!</p>
            </div>
        </div>
        <div class="row">
            <div class="8">
                <button class="btn btn-lg btn-dark">
                    ¡Pide Ahora!
                </button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row"
         style="margin-top: 30px;">
        <div class="col-4">
            <h2 class="fw-normal text-center">Desayunos</h2>
            <p>
                Disfruta de nuestros fantásticos desayunos para empezar el día con energía. Consulta nuestra carta para ver las opciones.
            </p>
        </div>
        <div class="col-4">
            <h2 class="fw-normal text-center">Cafés y otras bebidas</h2>
            <p>
                ¿Te apetece un café o tal vez una infusión?, ¿Un vasito de leche o refresco para el calor?. Écha un ojo a nuestra carta para ver la oferta.
            </p>
        </div>
        <div class="col-4">
            <h2 class="fw-normal text-center">Bocadillos</h2>
            Tenemos una amplia variedad de bocadillos para un buen almuerzo durante el descanso. Visita la carta y elige tu favorito.
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row"
         style="margin-top: 30px;">
        <div class="col-8">
            <h2 class="fw-normal display-5">Conóncenos</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla semper eros. Nulla posuere pellentesque lacus sit amet rutrum. Nulla luctus dapibus elit eget luctus. Pellentesque suscipit erat non turpis lobortis eleifend. Suspendisse suscipit odio non mauris tempor, non mollis felis condimentum. Aliquam iaculis non libero sed auctor. Sed porttitor tortor non auctor fermentum. Nullam placerat aliquam condimentum. Nulla facilisi. Vivamus felis libero, ullamcorper at tincidunt molestie, dapibus in justo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc id mollis orci. Nulla facilisi. Sed at augue et lorem venenatis accumsan id a ipsum.
        </div>
        <div class="col-4">

        </div>
    </div>
</div>
<hr>
<div class="container"
     style="margin-top: 30px;">
    <h2 class="fw-normal text-center display-4">¡Gracias por su visita!</h2>
</div>