:root {
    --primary: #4682B4;
    --secondary: #4696b4;
    --accent: #d8f4ff;
    --accent-secondary: #b1eaff;
    --primary-light: #498d42;
    --clearest-grey: #999999;
    --grey: #555555;
    --light-dark-grey: #444444;
    --dark-grey: #333333;
    --darker-grey: #222222;
    --black-grey: #111111;
}

thead>tr>th {
    background-color: var(--black-grey) !important;
    padding: 12px !important;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: var(--grey) var(--black-grey);
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background-color: var(--black-grey);
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--grey);
}

header{
    background-color: var(--primary);
    -webkit-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.64);
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.64);
    color: white;
    position: relative;
    z-index: 10;
}

.main {
    height: calc(100% - (51px + 50px));
    width: 100%;
    /*background-color: var(--dark-grey);*/
    color: white;
    overflow-y: auto;
}

.main-admin {
    height: calc(100% - (51px + 50px + 61px));
    width: 100%;
    /*background-color: var(--dark-grey);*/
    color: white;
    overflow-y: auto;
}

footer {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    background-color: var(--primary);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.64);
    color: white;
}

.nav-link {
    color: var(--accent) !important;
}

.nav-link:hover{
    color: var(--accent-secondary) !important;
}

.link-accent{
    color: var(--accent) !important;
}

.link-accent:hover{
    color: var(--primary) !important;
}

.text-primary{
    color: var(--primary) !important;
}

.bg-primary{
    background-color: var(--primary) !important;
}

.bg-secondary{
    background-color: var(--secondary) !important;
}

.text-bg-primary {
    background-color: var(--primary) !important;
}

.text-bg-secondary {
    background-color: var(--secondary) !important;
}

.text-bg-accent {
    background-color: var(--accent) !important;
    color: black;
}

.btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.btn-accent {
    background-color: var(--accent) !important;
    border-color: var(--accent) !important;
}

.btn-accent:hover {
    background-color: var(--accent-secondary) !important;
    border-color: var(--accent-secondary) !important;
}

.btn-outline-accent {
    border-color: var(--accent) !important;
    color: var(--accent) !important;
}

.btn-outline-accent:hover {
    background-color: var(--accent) !important;
    border-color: var(--accent) !important;
    color: black !important;
}

.btn-primary:hover {
    background-color: var(--accent-secondary) !important;
    border-color: var(--accent-secondary) !important;
    color: black !important;
}

.input-section {
    margin-top: 10px;
}

.nav-icon {
    padding: 2px;
}

.modal-title {
    color: white;
}

.modal-section-title {
    padding: 5px 0px;
}

.admin-bar {
    background-color: var(--primary);
    color: white;
    position: relative;
    z-index: 5;
    border-top-width: 1px; 
    border-top-style: solid;
}

.big-title {
    background-color: var(--primary);
    color: white;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 50px;
}

.title {
    height: 75px;
    min-height: 75px;
    max-height: 75px;
    background-color: var(--primary);
    color: white;
    padding-top: 15px;
    padding-left: 50px;
}

.btn-accent {
    background-color: var(--secondary);
}

.list-group-item{
    background-color: var(--dark-grey);
    color: white;
    vertical-align: middle;
}

.list-group-item-action:hover{
    background-color: var(--darker-grey) !important;
    color: white !important;
}

.list-group-item-inner{
    border-color: var(--clearest-grey);
    background-color: var(--light-dark-grey);
    color: white;
    vertical-align: middle;
}

.form-control{
    background-color: var(--dark-grey);
    color: white;
}

.form-select {
    background-color: var(--dark-grey);
    color: white;
}

.form-control:focus{
    background-color:var(--dark-grey);
    color: white;
}

.form-select:focus {
    background-color: var(--dark-grey);
    color: white;
}

.form-control:read-only{
    background-color: var(--darker-grey);
    color: #f7f7f7;
}

.form-select:disabled {
    background-color: var(--darker-grey);
    color: #f7f7f7;
}

.list {
    height: 250px;
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
}

.list-fluid {
    max-height: 250px;
    overflow-y: auto;
}