<div class="admin-bar">
    <nav class="navbar navbar-expand bg-primary container">
        <a class="navbar-brand"
           href="#"
           style="font-size: 21px; padding-left: 20px; padding-bottom: 8px; color: white;">Administración</a>
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    style="font-size: 15px;">
                    <a class="nav-link btn btn-lg"
                       routerLink="/productos">Productos</a>
                </li>
                <li class="nav-item"
                    style="font-size: 15px;">
                    <a class="nav-link btn btn-lg"
                       routerLink="/alergenos">Alérgenos</a>
                </li>
                <li class="nav-item"
                    style="font-size: 15px;">
                    <a class="nav-link btn btn-lg"
                       routerLink="/usuarios">Usuarios</a>
                </li>
            </ul>
        </div>
    </nav>
</div>