<div class="admin-bar">
    <nav class="navbar navbar-expand bg-primary container">
        <a class="navbar-brand"
           href="#"
           style="font-size: 21px; padding-left: 20px; padding-bottom: 8px; color: white;">Administración</a>
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"
                    style="font-size: 15px;">
                    <a class="nav-link btn btn-lg display-1 d-none d-sm-none d-md-block d-lg-block"
                       routerLink="/productos">Productos</a>
                    <a class="nav-link btn btn-lg display-1 d-block d-sm-block d-md-none d-lg-none"
                       routerLink="/productos"><img src="../../../assets/img/icons/preview.svg" /></a>
                </li>
                <li class="nav-item"
                    style="font-size: 15px;">
                    <a class="nav-link btn btn-lg display-1 d-none d-sm-none d-md-block d-lg-block"
                       routerLink="/alergenos">Alérgenos</a>
                    <a class="nav-link btn btn-lg display-1 d-block d-sm-block d-md-none d-lg-none"
                       routerLink="/alergenos"><img src="../../../assets/img/icons/pulse.svg" /></a>
                </li>
                <li class="nav-item"
                    style="font-size: 15px;">
                    <a class="nav-link btn btn-lg display-1 d-none d-sm-none d-md-block d-lg-block"
                       routerLink="/usuarios">Usuarios</a>
                    <a class="nav-link btn btn-lg display-1 d-block d-sm-block d-md-none d-lg-none"
                       routerLink="/alergenos"><img src="../../../assets/img/icons/account.svg" /></a>
                </li>
                <li class="nav-item"
                    style="font-size: 15px;">
                    <a class="nav-link btn btn-lg display-1 d-none d-sm-none d-md-block d-lg-block"
                       routerLink="/pedidos">Pedidos</a>
                    <a class="nav-link btn btn-lg display-1 d-block d-sm-block d-md-none d-lg-none"
                       routerLink="/pedidos"><img src="../../../assets/img/icons/project.svg" /></a>
                </li>
            </ul>
        </div>
    </nav>
</div>